/* ..................wrapp */
.wrapp{
    padding: 0 5%;
}


/* .................some defaults */
.pr-color{
    background:linear-gradient(90deg, #0a5cd7, #066e59);
}
p, a, i, .hr-tag, .card, #heading{
    color: white;
    font-family: 'Comfortaa', cursive;
}


/* ..................navbar */
.navbar{
    margin: 0 0 1% 0;
    height: 70px;
}
.nav-link{
    font-size: 1rem;
}
.nav-link:hover{
    transform: scale(1.2, 1.2);
}
#navbar-brand{
    font-size: 2rem;
}
.navbar-bg{
    background-color: #2ed8b6;
}

/* .....................heading */
#heading{
    margin: 0 auto;
    font-weight: 3rem;
    font-size: 48px;
    font-family: 'Comfortaa', cursive;
    margin: 70px auto;
}

/* ....................card */
.card{
    padding: 2rem;
    text-align: center;
    margin: 1.5rem auto;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}
.card:hover{
    background: linear-gradient(45deg,#346cbe,#2ed8b6);
    transform: scale(1.05, 1.05);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin:0 auto;
}
.col{
    text-align: center;
}
.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#346cbe);
}



/* ......................hr */
.hr-tag{
    width: 50px;
    border-style: dotted none none none;
    border-width: 5px;
    margin:2% auto;
    opacity: 1;
}

/* .................footer */
footer{
    background-color: #2ed8b6;
    padding: 20px;
}
.footer-link{
    margin: 0 40px 40px;
}



a{
    font-size: 2rem;
    font-family: 'Comfortaa', cursive;
    margin: 20px 20px;
}

i:hover{
    color: gold;
}
