//* ..................wrapp */
.wrapp{
    padding: 0 5%;
}

/* .................some defaults */
.pr-color{
    background-color: #85f4ff;
    /* background:linear-gradient(90deg, #0a5cd7, #066e59); */
}
p, a, i, .hr-tag, .card, #heading,  .navbar-brand{
    color: black;
    font-family: 'Comfortaa', cursive;
}


/* ..................navbar */
.navbar{
    margin: 0 0 1% 0;
    color: black;
}
nav .navbar-nav li a{
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    color: black;
    transition: all 1s ease;
}
nav .navbar-nav li a:hover{
    color:red;
    transform: scale(1.2, 1.2);
}
#navbar-brand{
    font-size: 2rem;
}
.navbar-bg{
    background-color: #2ed8b6;
}

/* .....................heading */
#heading{
    margin: 0 auto;
    font-weight: 3rem;
    font-size: 48px;
    font-family: 'Comfortaa', cursive;
    margin: 70px auto;
}

/* ....................card */
.card{
    padding: 2rem;
    text-align: center;
    margin: 1.5rem auto;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: all 1s ease;
}
.card:hover{
    background: linear-gradient(45deg,#b8fff9,#faffaf);
    transform: scale(1.05, 1.05);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin:0 auto;
}
.col{
    text-align: center;
}
.bg-c-green {
    background: linear-gradient(45deg,#b8fff9,#b8fff9); 
}



/* ......................hr */
.hr-tag{
    width: 50px;
    border-style: dotted none none none;
    border-width: 5px;
    margin:2% auto;
    opacity: 1;
}

/* .................footer */
footer{
    /* background-color: #black; */
    padding: 20px;
}
.footer-link{
    margin: 0 40px 40px;
    
}

.quick-links{
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    margin: 20px 20px;
    color:black;
}
a{
    font-size: 2rem;
    font-family: 'Comfortaa', cursive;
    margin: 20px 20px;
}
.quick-links:hover, i:hover{
    color: red;
}
